body{
  font-family: Helvetica, "Times New Roman";
}
a{
  color: #206020;
}
#btt{
  display: block;
  clear: both;
  margin-bottom: 10px;
}

/*HEADER AND LINKS
*/
header{
  background: #ff66cc;
  padding: 10px;
  margin-bottom: 35px;
}
header nav{
  height: 50px;
}
h1{
  text-shadow: 5px 5px 3px #ff00aa;
  font-family: Roboto;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 3em;
  margin: 10px 0 20px;
  position: relative;
  left: 80px;
}
header nav{
  box-sizing: border-box;
  position: relative;
  left: 10px;
  width: 400px;
  text-align: center;
}
nav a{
  border: solid;
  display: inline-block;
  color: #fff;
  background-color: #206020;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  height: 40px;
  width: 100px;
  margin: 0 10px;
  border-radius: 20px;
  transition: background-color 0.5s ease-out;
}
nav a:hover{
  background-color: #000;
}


/*HOME AND CONTACT PAGES
*/
main{
  width: 60%;
}


/*PETS PAGE
*/
div{
  border: solid;
  padding: 30px 0;
}
.pets{
  width: 100%;
}
img{
  width: 100%;
}
.animals/*Animal Figures*/{
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 25%;
  border: thin silver solid;
  padding: 10px;
}
h2{
  background-color: #ffccee;
}
h2, figcaption{
  text-align: center;
}
.info{
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 60%;
}
section, footer, .top{
  clear: both;
}


/*TABLES
*/
table{
  font-size: 1.05em;
  line-height: 1.3em;
  margin-bottom: 20px;
}
td{
  padding: 10px;
  background-color: rgb(255, 204, 238, 0.6);
}
tr:hover td{
  background-color: rgb(255, 204, 238, 1);
}
td:first-child{
  text-align: center;
}
tr:last-child td{
    border-bottom: solid #ff6666 10px;
}
